  
  .box {
    width: 150px;
    height: 150px;
    background-color: rgb(233, 233, 233);
    /* 상하좌우 정중앙 정렬하기 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }